.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/nodejs-project/node_modules
/Frameworks/include
/Frameworks/NodeMobile.xcframework
